.App{
    padding: 60px;
    display: flex;
}
ul{
    list-style: none;
    border: 1px solid #cccccc;
    margin: 0;
    padding: 0;
    width: 250px;
    margin-right: 80px;
}
li{
    padding: 20px;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    transition: all 0.3s;
}
li:last-of-type{
    border-bottom: 0
}
li.active{
    background: #0f7ffa;
    color: #ffffff;
}
.card{
    width: 300px;
    height: max-content;
    border: 1px solid #cccccc;
}
.card img{
    max-width: 100%;
}
.card p, .card h2{
    margin: 0;
    padding: 20px 15px;
    border-bottom: 1px solid #cccccc;
}
.card p:last-of-type{
    border-bottom: none
}
.loading{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #cccccc;
    border-bottom: none;
    transform: rotate(0deg);
    animation: load linear 1s infinite;
}

@keyframes load{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg);
    }
}